* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.background-container {
  background-image: linear-gradient(to top left, #f9c2f8, #c2c7f9);
  height: 100vh;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}
